.button {
  background-color: #382f5a;
  border-radius: 10px;
  border: 2px solid #c4c4c4;
  outline: none;
  color: #c4c4c4;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  width: 90%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.item-container {
  width: 50%;
}
